<h1>List View News</h1>
<hr>

<div>
    {% for new in news %}
    <h1>{{new.title}}</h1>
    <img src="{{new.images}}" alt="images">
    
    <p>{{new.description}}</p>
    <h2>{{new.add_date}}</h2>
    <h2>{{new.author}}</h2>
    
    <hr>

    {% endfor %}
</div>